<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title if title else "City of Mosh" }}</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

<header class="topbar">
  
    <div class="logo">
      <a href="/"><img src="/assets/logo.png" alt="City of Mosh" /></a>
    </div>

    <nav class="nav">
      {# <a href="/">Inicio</a> #}
      {# <a href="/agenda/">Agenda</a> #}
      {# <a href="/noticias/">Noticias</a> #}
      {# <a href="/shows/">Shows</a> #}
    </nav>
  
</header>

<main>
  {{ content | safe }}
</main>

 <!-- GoatCounter -->
 <script data-goatcounter="https://cityofmosh.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
        
</body>
</html>
