/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #0b0b0b;
  color: #f2f2f2;
}

/* Barra superior */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #000;
  border-bottom: 1px solid #222;
  justify-content: center
}

/* Logo */
.logo {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.logo img {
  height: 74px;
  width: auto;
}

/* Navegación */
.nav {
  display: flex;
  gap: 12px;
}

.nav a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav a:hover {
  color: #e10600; /* rojo metal */
}

/* Contenedor general */
.container {
  padding: 16px;
}

/* Grid mobile-first */
.grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 columna en mobile */
  gap: 16px;
}

/* Desktop y pantallas grandes */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

/* Card */
.card {
  background-color: #111;
  border: 1px solid #222;
  overflow: hidden;
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card img {
  width: 100%;
  display: block;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.card h2 {
  font-size: 1rem;
  padding: 12px;
  line-height: 1.3;
}

/* Hover sutil */
.card:hover h2 {
  color: #e10600;
}

.article-container {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.article h1 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.meta {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 16px;
}

.article-image img {
  width: 100%;
  margin: 16px 0;
}

.article-content p {
  margin-bottom: 16px;
  line-height: 1.6;
}

a {
  color: #e10600; /* rojo metal */
  text-decoration: none;
}

a:hover {
  color: #ff2a1f; /* rojo más claro al pasar el mouse */
}

